.loading-map {  
    color: #fff;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}

.search-container {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px;
    width: 250px;

}

.search-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ea5933;
    z-index: 999;
    font-size: 20px;
}